* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav img {
    width: 50%;
    margin: 4% 0 0.5% 10%;
}

.onglets {
    display: flex;
    width: 100%;
    justify-content: center;
}

.onglets a {
    list-style: none;
    margin-left: 65px;
    color: white;
    text-decoration: none;
}

.inscription-connexion {
    display: flex;
    width: 20%;
    justify-content: center;
}

.inscription-connexion li,
.inscription-connexion a {
    list-style: none;
    margin-right: 20px;
    margin-top: 3px;
    color: white;
    text-decoration: none;
}

.inscription-connexion button {
    padding: 5px 20px;
    background-color: #a31b3d;
    border: 1px solid transparent;
    color: white
}

.inscription-connexion button:hover{
    background-color: white;
    color: #a31b3d;
}

nav li:hover {
    font-weight: bold;
    color: #a31b3d;
    border-bottom: 2px solid #a31b3d;
    padding-bottom: 5px;
    transition: all 0.5s;
}

section {
    height: 100vh;
}

.section_1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.section_1 h1 {
    position: relative;
    color: white;
    z-index: 2;
    top: 40%;
    left: 15%;
    font-size: 4em;
}

.section_1 h2 {
    position: relative;
    color: white;
    z-index: 2;
    top: 35%;
    left: 15%;
    font-size: 3em;
}

.section_1 h4 {
    position: relative;
    color: white;
    z-index: 2;
    top: 35%;
    left: 15%;
    right: 0;
    font-size: 2em;
    width: 20%
}

.section_1 a {
    text-decoration: none;
    z-index: 1;
}

.section_1 img {
    position: relative;
    color: white;
    z-index: 2;
    top: 27.7%;
    left: 33%;
    right: 0;
    width: 20px;
    margin-right: 0;
}

.section_1 .reseaux {
    position: absolute;
    top: 97%;
    left: 90%
}

.section_1 .reseaux img {
    margin-right: 10px;
    z-index: 1;
}

.section_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.fleche_haut {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 50px;
    z-index: 0;
}

.section_2_text {
    width: 50%;
}

.section_2_text h2 {
    color: #a31b3d;
}

.section_2 img {
    width: 300px;
}

.section_2 .guillemets_gauches {
    width: 50px;
    position: relative;
    right: 23%;
    top: 3%
}

.section_2 .fille_plage {
    position: relative;
    top: 10%;
    right: 5%;
    z-index: 0;
}

.section_2 .mec_kayak {
    position: relative;
    left: 7%;
    bottom: 3%;
}

.section_2 .guillemets_droites {
    width: 50px;
    position: relative;
    left: 24%;
}

.section_2 .commentaire_1 {
    width: 10%;
    text-align: justify;
    position: relative;
    left: 9%;
    bottom: 5%;
    font-style: italic;
}

.section_2 .commentaire_2 {
    width: 10%;
    text-align: justify;
    position: relative;
    right: 7%;
    bottom: 12%;
    font-style: italic;
}